.main{
    margin: 0px;
    padding: 0px;
    margin-top: 72px;

    /* height: calc(100% - 80px); */
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.img1{
    height: calc(100vh - 80px);
    width: 99%;
    margin-left: 0.5%;
    position: relative;
    border-radius: 20px;
    transition: ease-in;
    transition: 2s;
}
.title{
background-color: transparent;
color: white;
font-family: sans-serif;
position: absolute;
bottom: 150px;
left: 50px;
transition: ease-in-out;
transition: 3s;

}
.shop{
    background-color: white;
    color: black;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: 0px;
    position: absolute;
    bottom: 70px;
    left: 50px;
    transition: ease-in;
    transition: 2s;
}
.latest{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;

}
.latest1{
    height: 100%;
    width: 32.3%;
    position: relative;
  margin: 0.32%;
   overflow: hidden;

}
.img2{
    height:100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    transition: 2s;

}
.img2:hover{
    scale: 1.1;
    transition: 2s;
}
.title1{
    background-color: transparent;
    color: white;
    font-family: sans-serif;
    position: absolute;
    bottom: 100px;
    font-size: 24px;
    left: 50px;
    }
    .shop1{
        background-color: white;
        color: black;
        height: 30px;
        width: 80px;
        /* border-radius: 10px; */
        border: 0px;
        position: absolute;
        bottom: 50px;
        left: 50px;
    }
.product{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 20px;
}
.mainpro{
height: 400px;
width: 260px;
margin-left: 100px;
}
.mainpro img{

    height: 350px;
    width: 100%;
}
.mainpro h3{
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}
.product1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
}